<template name="search1">
  <div class="page container">  
    <form class="main">
      <div style="padding-top: 26px;">
        <div class="input-group">
          <input index="posts" class="form-control input-lg" id="search" placeholder="Search Petitions by name, description, or author" style="height: 49px;">
          <span class="input-group-btn">
            <div class="btn-group">
              <li class="dropdown active span8">
                <a type="button" id="inp_impact" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100px"> <span id="title">All</span> <span class="caret"></span>
                </a>
                <ul id="divNewNotifications" class="dropdown-menu">
                    <li><a>All</a></li>
                    <li><a>In-Progress</a></li>
                    <li><a>Responses</a></li>
                    <li><a>Completed</a></li>
                </ul>
              </li>             
            </div>
          </span>
        </div>
      </div>
      <hr />
      <div class="row">
            {{#if session 'waiting'}}
              {{> loading}}
            {{/if}}

            {{#each session 'results'}}
              {{> postCard post=this title="In Progress"}}
            {{/each}}

            {{#if noResults}}
              <p class="footer-subtitle text-center" style="margin: 50px 0;">
                No Results. <a href="{{pathFor 'postSubmit'}}">Create a petition.</a>
              </p>
            {{/if}}
        </div>
    </form>
  </div>
</template>
