<template name="search">
  <div class="page container">
    <form class="main">
      <div style="padding-top: 26px; padding-bottom:26px;">
          <input index="petitions" class="form-control input-lg" id="search" placeholder="Search Petitions by name, description, or author" style="height: 49px; width:100%;">
      </div>
      <div class="row">
            {{#if session 'waiting'}}
              {{> loading}}
            {{/if}}

            {{#each session 'results'}}
              {{> petitionCard petition=this title="In Progress"}}
            {{/each}}

            {{#if noResults}}
              <p class="footer-subtitle text-center" style="margin: 50px 0;">
                No Results. <a href="{{pathFor 'petitionSubmit'}}">Create a petition.</a>
              </p>
            {{/if}}
        </div>
    </form>
  </div>
</template>
