<template name="css">
  <style>
    /**
      * @brand-primary-light: #80BFFF;
      * @brand-primary: #3399FF;
      * @brand-primary-dark: #0073E6;
      * @background: #EEE;
      * @gray-dark: #333;
      */
    a {
      color: #3399FF;
    }
    a:hover, a:focus {
      color: #0073E6;
      text-decoration: none;
    }
    body {
      background: #EEE;
    }
    .btn-primary {
      background-color: #3399FF;
      border-color: #0073E6;
    }
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary.focus,
    .btn-primary:active,
    .btn-primary.active, .open > .dropdown-toggle.btn-primary {
      background-color: #0073E6;
      border-color: #0073E6;
    }
    .carousel {
      background-color: #333;
    }
    .carousel-title {
      background-color: #3399FF;
    }
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
      background-color: #0073E6;

    }
    .label-primary {
      background-color: #3399FF;
    }
    .list-group-item.active,
    .list-group-item.active:hover,
    .list-group-item.active:focus {
      background-color: #3399FF;
      border-color: #3399FF;
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
      background-color: #EEE;
    }
    .progress-bar {
      background-color: #3399FF;
    }
    .select2-results .select2-highlighted {
      background: #3399FF;
    }
    .select2-container-multi.select2-container-active .select2-choices {
      border: 1px solid #3399FF;
    }
    .select2-container-multi > .select2-choices > .select2-search-choice {
      background-color: #3399FF;
    }
    .select2-dropdown-open.select2-drop-above .select2-choices {
      border: 1px solid #3399FF;
    }
    ::selection {
      background: #80BFFF;
    }
    ::-moz-selection {
      background: #80BFFF;
    }
  </style>
</template>
