{
  "LDAP_URL": "ldaps://ldap.rit.edu",
  "MAIL": {
    "__comments": [
      " default_doman:  Appended to the username to construct an email address if no email address is present                                        ",
      " gateway_url:  The MAIL_URL environment variable, more information here:  http://docs.meteor.com/#/full/email                                 ",
      " templates: used by the Mailer object and provide defaults for the Email.send function.  Example:                                             ",
      "   {                                                                                                                                         ",
      "     'say_hello': {                                                                                                                          ",
      "       'subject': 'Hello!',      Default subject for the email, can be overridden by the caller                                              ",
      "       'to': 'hello@rit.edu',    Default to address for the email, could also be an array like ['hello@rit.edu', 'goodbye@rit.edu']          ",
      "       'template': 'say_hello'   Required key for the template, a template should exist at the path /private/email_templates/say_hello.html  ",
      "     }                                                                                                                                       ", 
      "   }                                                                                                                                         ",
      " template_defaults:  Optional settings that are applied last to every template, so they are easily overridden                                 ",
      " template_overrides:  Optional settings that are applied first to every template, they are most useful for local testing.                     "
    ],
    
    "default_domain": "rit.edu",    
    "gateway_url": "smtp://username:password@smtp.rit.edu:25",        
    "templates": {      
      "report_petition": {
        "subject": "[petitions] Petition Reported",
        "template": "report_petition"
      },
      "petition_approved": {
        "subject": "PawPrints - A petition you created has been approved",
        "template": "petition_approved"
      },
      "petition_rejected": {
        "subject": "PawPrints - A petition you created has been rejected",
        "template": "petition_rejected"
      },
      "petition_threshold_reached": {
        "subject": "PawPrints - Petition Reaches Signature Threshold",
        "template": "petition_threshold_reached"        
      },
      "petition_response_received": {
        "subject": "PawPrints - A petition you signed has received a response",
        "template": "petition_response_received"
      },
      "petition_status_update": {
        "subject": "PawPrints - A petition you signed has a status update",
        "template": "petition_status_update"
      }
    },    
    "template_defaults": {
      "from": "web@rit.edu",
      "to": "web@rit.edu"
    },    
    "template_overrides": {
      "to": "web@rit.edu"
    }
  },  
  "public" : {
    "ga": {
      "account":"UA-XXXXXXXX-Y"
    },
    "root_url": "http://localhost:3000"
  }
}
