{
  "LDAP": {
    "__comments": [
      " username_attribute: Change to sAMAccountName if you are using Active Directory                                                              ",
      " bind_dn_prefix:     This is the prefix to your DN, change to something like cn= if you are using Active Directory.                          ",
      " auto_group:         This is optional, it will place users in the admin or moderator role if they are                                        ", 
      "                     in the specified groups.  This means memberOf is also available in the Meteor.user().profile                            "   
    ],
    "url": "ldaps://ldap.rit.edu/",
    "search_ou": "ou=LDAP-Users,dc=rit,dc=edu",          
    "username_attribute": "uid",
    "bind_dn_prefix": "uid=",       
    "auto_group": {
        "admin": "CN=Admins,OU=Petitions,OU=Application-Specific-Access,DC=rit,DC=edu",
        "moderator": "CN=Moderators,OU=Petitions,OU=Application-Specific-Access,DC=rit,DC=edu"
    }           
  },  
  "MAIL": {
    "__comments": [
      " default_domain:   Appended to the username to construct an email address if no email address is present                                      ",
      " gateway_url:      The MAIL_URL environment variable, more information here:  http://docs.meteor.com/#/full/email                             ",
      " templates:        used by the Mailer object and provide defaults for the Email.send function.  Example:                                      ",
      "   {                                                                                                                                          ",
      "     'say_hello': {                                                                                                                           ",
      "       'subject': 'Hello!',      Default subject for the email, can be overridden by the caller                                               ",
      "       'to': 'hello@rit.edu',    Default to address for the email, could also be an array like ['hello@rit.edu', 'goodbye@rit.edu']           ",
      "       'template': 'say_hello'   Required key for the template, a template should exist at the path /private/email_templates/say_hello.html   ",
      "     }                                                                                                                                        ", 
      "   }                                                                                                                                          ",
      " template_defaults:  Optional settings that are applied last to every template, so they are easily overridden                                 ",
      " template_overrides: Optional settings that are applied first to every template, they are most useful for local testing.                      "
    ],
    
    "default_domain": "rit.edu",    
    "gateway_url": "smtp://username:password@smtp.rit.edu:25",        
    "templates": {      
      "report_petition": {
        "subject": "[petitions] Petition Reported",
        "template": "report_petition"
      },
      "petition_approved": {
        "subject": "PawPrints - A petition you created has been approved",
        "template": "petition_approved"
      },
      "petition_rejected": {
        "subject": "PawPrints - A petition you created has been rejected",
        "template": "petition_rejected"
      },
      "petition_threshold_reached": {
        "subject": "PawPrints - Petition Reaches Signature Threshold",
        "template": "petition_threshold_reached"        
      },
      "petition_response_received": {
        "subject": "PawPrints - A petition you signed has received a response",
        "template": "petition_response_received"
      },
      "petition_status_update": {
        "subject": "PawPrints - A petition you signed has a status update",
        "template": "petition_status_update"
      }
    },    
    "template_defaults": {
      "from": "web@rit.edu",
      "to": "web@rit.edu"
    },    
    "template_overrides": {
      "to": "web@rit.edu"
    }
  },  
  "public" : {
    "ui": {
      "roles_locked": false,
      "initials_locked": true,
      "carousel_images": ["/carousel_1.png", "/carousel_2.png", "/carousel_3.png"]
    },  
    "ga": {
      "account":"UA-XXXXXXXX-Y"
    },
    "root_url": "http://localhost:3000"
  }
}