<template name="carousel">
  <div class="container-fluid carousel">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="top:25%;margin-top:15px;">
      <h2 class="carousel-title text-center">
        PawPrints
      </h2>
      <div class="">
        <div class="carousel-description text-center">
          <h3><p>Create and vote on petitions.</p>
              <p>Track their progress and share with friends.</p>
              <p>Receive responses and updates.</p></h3>
              <a href="{{pathFor 'search'}}" class="btn btn-lg btn-primary">
                Search Petitions
                <span class="glyphicon glyphicon-search carousel-search-icon"></span>
              </a>
        </div>
      </div>
      <div class="text-center">

      </div>
    </div>
  </div>
</template>
