<template name="carousel">
  <div class="container-fluid carousel">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12" style="padding: 30px;">
      <div class="carousel-title text-center">
        MAKE A DIFFERENCE.
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <div class="carousel-description text-center">
          <p>Create and vote on petitions.</p>
          <br>
          <p>Recieve official responses from Student Government.</p>
        </div>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div class="carousel-sign-up">
          <div class="input-group input-group-lg">
            <input type="text"
                   class="form-control"
                   style="border-radius: 0;"
                   placeholder="Email address">
            <span class="input-group-btn">
              <button class="btn btn-primary"
                      type="button"
                      style="border-radius: 0;">
                      Subscribe
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>