<template name="carousel">
  <div class="container-fluid carousel">
    <div class="carousel-content col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <h2 class="carousel-title text-center">
        MAKE YOUR MARK.
      </h2>
      <div class="">
        <div class="carousel-description text-center">
          <h3><p>Create and vote on petitions.</p>
              <p>Recieve official responses from Student Government.</p></h3>
        </div>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div class="carousel-search">
          <span class="glyphicon glyphicon-search carousel-search-icon"></span>
          <input type="text"
                 class="form-control input-lg carousel-search-input"
                 style="border-radius: 0;"
                 placeholder="Search petitions">
        </div>
      </div>
    </div>
  </div>
</template>