<template name="footer">
  <div class="footer">

    <div class="footer-left col-lg-6 col-md-6 col-sm-6">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-4">
        <p class="footer-subtitle">
          About
        </p>
        <p style="font-size: 20px;">
          PawPrints is a place for sparking change at RIT. Share ideas with the RIT community and influence decision making.
        </p>
        <p style="font-size: 15px;">
          <a href="https://sg.rit.edu/">
            &copy;&nbsp;&nbsp; Student Government 2014.
          </a>
          <br>
          <a href="https://github.com/ritstudentgovernment/petitions">
            <span class="glyphicon glyphicon-link"></span>
            Available on GitHub.
          </a>
          <br>
          <span class="footer-version">{{ singleton.version }}</span>
        </p>
      </div>
    </div>

    <div class="footer-right col-lg-6 col-md-6 col-sm-6">
      <div class="col-sm-6 col-sm-offset-1 col-md-4 col-md-offset-1">
        <p class="footer-subtitle">
          Learn More
        </p>
        <p>
          <a href="{{pathFor 'about'}}">About PawPrints</a>
          <br>
          <a href="{{pathFor 'petitionProcess'}}">Petition Process</a>
          <br>
          <a href="{{pathFor 'moderation'}}">Moderation</a>
          <br>
          <a href="{{pathFor 'api'}}">API Access</a>
        </p>
      </div>
      <div class="col-sm-3 footer-count">
        <div class="footer-subtitle">
          Petitions
        </div>
        <h2 class="count">
          {{ singleton.petitionsCount }}
        </h2>
      </div>
    </div>

  </div>
</template>