<template name="footer">
  <div class="footer">

    <div class="footer-left col-lg-6 col-md-6 col-sm-6">
      <div class="col-lg-6 col-lg-offset-4">
        <p class="footer-subtitle">
          About
        </p>
        <p style="font-size: 20px;">
          Petition SG is a place for sparking change at RIT. Share ideas with the RIT community and influence decision making.
        </p>
        <p style="font-size: 15px;">
          <a href="https://sg.rit.edu/">&copy; Student Government 2014.</a>
        </p>
      </div>
    </div>

    <div class="footer-right col-lg-6 col-md-6 col-sm-6">
      <div class="col-lg-6 col-lg-offset-2">
        <p class="footer-subtitle">
          Learn More
        </p>
        <p style="font-size: 20px;">
          <a href="#">The Petition Process</a>
          <br>
          <a href="#">Moderation Policy</a>
          <br>
          <a href="#">API Access</a>
        </p>
      </div>
    </div>

  </div>
</template>