<template name="header">
  <nav class="header-background navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'index'}}">
          <img src="/brand.svg"/>
        </a>
        <button type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target="#nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="nav-collapse" style="border: 0;">
        <ul class="nav navbar-nav navbar-left">
          <li class="{{ isActiveRoute 'postsInProgress' }}">
            <a href="{{pathFor 'postsInProgress'}}">
              <span class="glyphicon glyphicon-wrench"></span>
              In Progress
            </a>
          </li>
          <li class="{{ isActiveRoute 'postsResponses' }}">
            <a href="{{pathFor 'postsResponses'}}">
              <span class="glyphicon glyphicon-comment"></span>
              Responses
            </a>
          </li>
          <li class="{{ isActiveRoute 'about' }} {{ isActiveRoute 'petitionProcess' }} {{ isActiveRoute 'moderation' }} {{ isActiveRoute 'api' }}">
            <a href="{{pathFor 'about'}}">
              <span class="glyphicon glyphicon-info-sign"></span>
              About
            </a>
          </li>
          <li class="{{ isActiveRoute 'postSubmit' }}">
            <a href="{{pathFor 'postSubmit'}}">
              <span class="glyphicon glyphicon-plus"></span>
              Create
            </a>
          </li>
          <li>
            <a class="navbar-search" href="#">
              <span class="glyphicon glyphicon-search"></span>
              Search
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right"> 
          {{#if currentUser}}
            <li class="dropdown {{isActiveRoute 'admin'}} {{isActiveRoute 'userEdit'}}">
              <a href="#"
                 class="dropdown-toggle"
                 data-toggle="dropdown">
                 <span class="glyphicon glyphicon-user"></span>
                 {{currentUser.profile.givenName}}
                 <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                {{#if isInRole 'admin'}}
                  <li class="{{ isActiveRoute 'admin' }}">
                    <a href="{{pathFor 'admin'}}">
                      <span class="glyphicon glyphicon-wrench"></span>
                       Admin
                    </a>
                  </li>
                {{/if}}
                <li class="{{ isActiveRoute 'userEdit' }}">
                  <a href="{{pathFor 'userEdit'}}">
                    <span class="glyphicon glyphicon-briefcase"></span>
                     Account
                  </a>
                </li>
                <li>
                  <a id="logout-button"
                     href="#">
                     <span class="glyphicon glyphicon-log-out"></span>
                     Logout
                  </a> 
                </li>
              </ul>
            </li>
          {{else}}
            <li>
              <a href="#loginModal"
                 class="dropdown-toggle"
                 data-toggle="modal">
                 <span class="glyphicon glyphicon-user"></span>
                 Login
              </a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>