<template name="login">
  <div class="modal fade"
       id="loginModal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <form class="main">
          {{#if session 'loginMsg'}}
            <input type="text"
                   class="form-control input-lg text-center"
                   value="{{session 'loginMsg'}}"
                   disabled
                   style="cursor: default;">
          {{/if}}
          <input id="username"
                 type="text"
                 class="form-control input-lg"
                 placeholder="User">
          <input id="password"
                 type="password"
                 class="form-control input-lg"
                 placeholder="Password"
                 style="border-radius: 0;">
          <input id="login-button"
                  type="submit"
                  class="btn btn-primary btn-lg full-width"
                  value="Login">
        </form>
      </div>
    </div>
  </div>
</template>