<template name="login">

  <!-- Modal -->
  <div class="modal fade"
       id="loginModal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="main">
          <input id="username"
                 type="text"
                 class="form-control input-lg"
                 placeholder="User"
                 style="border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
          <input id="password"
                 type="password"
                 class="form-control input-lg"
                 placeholder="Password"
                 style="border-radius: 0;">
          <input id="login-button"
                  type="submit"
                  class="btn btn-primary btn-lg"
                  style="border-top-left-radius: 0; border-top-right-radius: 0; width: 100%;"
                  value="Sign in">
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>