<template name="ritIdentityBar">
  <div class="{{headerClass}} rit-identity-bar">
    <div class="container">
      <div class="navbar">
        <div class="navbar-header">
          <div class="rit-navbar-brand"></div>
        </div>
        <div class="nav navbar-nav navbar-right">
          <div class="rit-navbar-valign">
            <div class="rit-navbar-text">
              <a href="http://www.rit.edu/directories1.html">Directories</a>
            </div>
            <div class="rit-navbar-search">
              <form accept-charset="UTF-8" action="https://www.rit.edu/search" method="get">
                <div style="margin:0;padding:0;display:inline">
                  <input name="utf8" type="hidden" value="✓"></div>
                  <input class="rit-navbar-searchbar" id="q" name="q" placeholder="Search RIT" type="text" value="">
                  <div class="pull-right rit-navbar-searchbtn"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>