<template name="aboutTemplate">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="col-sm-3" style="padding-top: 30px;">
          <div class="list-group">
            <a class="list-group-item {{ isActiveRoute 'about' }}" 
               href="{{ pathFor 'about' }}">About</a>
            <a class="list-group-item  {{ isActiveRoute 'petitionProcess' }}"
               href="{{ pathFor 'petitionProcess' }}">Petition Process</a>
            <a class="list-group-item  {{ isActiveRoute 'moderation' }}"
               href="{{ pathFor 'moderation' }}">Moderation</a>
            <a class="list-group-item  {{ isActiveRoute 'api' }}"
               href="{{ pathFor 'api' }}">API Access</a>
          </div>
        </div>
        <div class="col-sm-9">
          {{> UI.dynamic template=subtemplate }}
        </div>
      </div>
    </div>
  </div>
</template>