<template name="about">

    <div class="row-fluid">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="no-margin">
            History
          </h3>
        </div>
        <div class="panel-body">
          <p>PawPrints was developed as free software at the Rochester Institute of Technology by Student Government in 2014.</p>
          <p>Since 2014, PawPrints has grown to all of RIT's international campuses, RPI, and many more organizations to come.</p>
          </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <blockquote class="no-margin">
            <p>“[T]his service will allow students to hear directly from administration about why some projects on campus may or may not be feasible... everyone can do this right from their own computers and we would have an immediate poll that can be presented to administration.”</p>
            <footer>Ashley Carrington with <a href="http://www.rit.edu/news/athenaeum_story.php?id=50938">University News</a></footer>
          </blockquote>
        </div>
      </div>
    </div>

</template>
