<template name="about">

    <div class="row-fluid">
      <h2 class="text-center"><p>About</p></h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Petitions engage and quantify a community's climate. Members of a community create petitions and rally support for their ideas via social media. Once a minimum signature threshold is reached on a petition, the community's governing body inspects the petition and posts incremental updates until a final response is published.</p>
        </div>
      </div>
    </div>

</template>