<template name="about">
  <div class="container-fluid">

    <div class="row-fluid">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2><p>History</p></h2>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="hidden-xs hidden-sm hidden-md col-lg-4">
              <img src="ashley_tyler_14_15.png" style="max-height: 250px; max-width: 100%; margin: auto; display: block;">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
              <p>Student Government President Ashley Carrington and Vice President Tyler Pierce (2014-2015) sought to improve engagement of RIT Students through a Petition site.</p>
              <blockquote class="no-margin">
                <p>“[T]his service will allow students to hear directly from administration about why some projects on campus may or may not be feasible... everyone can do this right from their own computers and we would have an immediate poll that can be presented to administration.”</p>
                <footer>Ashley Carrington with <a href="http://www.rit.edu/news/athenaeum_story.php?id=50938">University News</a></footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2 class="no-margin"><p>How it Works</p></h2>
      </div>
    </div>

    <div class="row-fluid row-same-height">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 no-padding">
        <div class="col-sm-4">
          <div class="panel">
            <div class="panel-body">
              <h3 class="no-margin-top text-center">Petition.</h3>
              <p>Members of the community input their ideas for improving the Institute on an array of topics-- housing, parking, and dining to name a few.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel">
            <div class="panel-body">
              <h3 class="no-margin-top text-center">Share.</h3>
              <p>Using social media, petitions are distributed. Petitioners raise support for their idea to reach the minimum signature count ({{ singleton.minimumThreshold  }}) to recieve a response.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel">
            <div class="panel-body">
              <h3 class="no-margin-top text-center">Talk.</h3>
              <p>When the threshold is met, the petition is assigned to a SG student liaison, who then polls the appropriate administrator. This opens a dialogue between students and administrators.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>