<template name="api">

  <h2 class="text-center">API Access</h2>

  <div class="panel-group" id="accordion">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <strong><a data-toggle="collapse" data-parent="#accordion" href="#about">About</a></strong>
        </h3>
      </div>
      <div id="about" class="panel-collapse collapse in">
        <div class="panel-body">

          <p>Student Government provides a read-only JSON REST API for retreiving SG Petition information.</p>

          <p>Developers utilizing the API should keep the stability of the API's infrastructure and their own applications in mind. We may impose usage limits at any time or degrade performance for developers who create an unreasonable number of requests.</p>

          <div class="alert alert-warning">

            <p><strong>Availability:</strong> While we strive to maintain a highly available API, there may be times where it is unavailable for unanticipated causes. We encourage developers to write code that can handle these situations.</p>

            <p><strong>Unpublished Petitions:</strong> At any time, administrators may choose to unpublish a petition (a decision that can be later reversed). Unpublished petitions are not visible publicly on the site, nor are they available via the API.</p>

            <p><strong>Developers:</strong> Claim an API Key by going to your <u><a href="{{pathFor 'userEdit'}}" style="color: inherit;">profile</a></u>.</p>
          </div>

        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <strong><a data-toggle="collapse" data-parent="#accordion" href="#listPetitions">List Petitions (v1)</a></strong>
        </h3>
      </div>
      <div id="listPetitions" class="panel-collapse collapse">
        <div class="panel-body">

          <h3 class="no-margin-top">Summary</h3>
          <table class="table table-responsive table-striped">
            <thead>
              <tr>
                <th>HTTP Method</th>
                <th>URL Format</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>GET</code></td>
                <td><samp>/v1/petitions?key={key}&limit={limit}</samp></td>
              </tr>
            </tbody>
          </table>


          <p>Includes the petition's name, submission time, title, description, minimum signature threshold, and signature count. The petition's response and responded at time are also included, if a response has been made. There is a limit of 500 petitions.</p>
          
          <h3>Path Parameters</h3>
          <table class="table table-responsive table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>key</code></td>
                <td><code>string</code></td>
                <td>Your API Key.</td>
              </tr>
              <tr>
                <td><code>limit</code></td>
                <td><code>integer</code></td>
                <td>Optional. Number of petitions to return. Limit 500 per request.</td>
              </tr>
            </tbody>
          </table>

          <h3>Example Response Object</h3>
          <pre>{{ example_list }}</pre>
        </div>
      </div>
    </div>

    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">
          <strong><a data-toggle="collapse" data-parent="#accordion" href="#petitionDetail">Petition Detail (v1)</a></strong>
        </h3>
      </div>

      <div id="petitionDetail" class="panel-collapse collapse">
        <div class="panel-body">

          <h3 class="no-margin-top">Summary</h3>
          <table class="table table-responsive table-striped">
            <thead>
              <tr>
                <th>HTTP Method</th>
                <th>URL Format</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>GET</code></td>
                <td><samp>/v1/petitions/{id}?key={key}</samp></td>
              </tr>
            </tbody>
          </table>

          <p>Provides identical information as the Petition List, but also includes the initials of petition signers and up to a 7-day historical reading of the petition count (smaller for petitions less than one week in age).</p>
          
          <h3>Path Parameters</h3>
          <table class="table table-responsive table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>id</code></td>
                <td><code>string</code></td>
                <td>The petition's id.</td>
              </tr>
              <tr>
                <td><code>key</code></td>
                <td><code>string</code></td>
                <td>Your API Key.</td>
              </tr>
            </tbody>
          </table>

          <h3>Example Response Object</h3>
          <pre>{{ example_individual }}</pre>
        </div>
      </div>
    </div>
  </div>

</template>