<template name="api">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-8 col-md-offset-2">

        <h1>API Access</h1>

        <p>Student Government provides a read-only JSON REST API for retreiving SG Petition information.</p>

        <p>Developers utilizing the API should keep the stability of the API's infrastructure and their own applications in mind. We may impose usage limits at any time or degrade performance for developers who perform requests in excess of 1 per second.</p>

        <div class="alert alert-warning">
          <p>Contact the <u><a href="https://sg.rit.edu/aboutus" style="color: inherit;">Director of Services</a></u> for an API key.</p>
        </div>

        <h3>List Petitions</h3>
        <pre>GET /v1/petitions?limit={limit}&key={key}</pre>
        <p>Provides summary information for petitions, including the title, description, and number of petition signers. There is a limit of 500 petitions.</p>
        
        <h3>Path Parameters</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>key</code></td>
              <td><code>string</code></td>
              <td>Your API Key, provisioned by Student Government.</td>
            </tr>
            <tr>
              <td><code>limit</code></td>
              <td><code>integer</code></td>
              <td>Optional. Number of petitions to return. Limit 500 per request.</td>
            </tr>
          </tbody>
        </table>

        <br>

        <h3>Petiton details</h3>
        <pre>GET /v1/petitions/{petition_id}?key={key}</pre>
        <p>Provides summary information for petitions, and petitioner's names and petition tags.</p>
        
        <h3>Path Parameters</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>petition_id</code></td>
              <td><code>string</code></td>
              <td>The petition's id.</td>
            </tr>
            <tr>
              <td><code>key</code></td>
              <td><code>string</code></td>
              <td>Your API Key, provisioned by Student Government.</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</template>