<template name="moderation">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-6 col-md-offset-3">
        <h1><strong>Moderation Policy</strong></h1>
        <blockquote>
          <p>"Since free and civil discourse is at the heart of a university community, users should communicate in a manner that advances the cause of learning and mutual understanding."</p>
          <footer>RIT Code of Conduct for Computer and Network Use</footer>
        </blockquote>
        <p>Use of this site falls under the <a href="www.rit.edu/computerconduct/">RIT Code of Conduct for Computer and Network Use</a>.</p>
        <p>Student Government reserves the right to edit or remove any petition at any time for violating the Code of Conduct.</p>
        <p>This includes, but is not limited to, creating an intimidating, hostile or abusive environment for any member of the RIT community, or posting of any  obscene, defamatory, threatening, or otherwise harassing petitions.</p>
        <p>Please exercise good judgment when using this service.</p>
      </div>
    </div>
  </div>
</template>