<template name="petitionProcess">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="no-margin">
        Have an idea.
      </h3>
    </div>
    <div class="panel-body">
      <p>Search for petitions and if a petition similar to yours already exists, sign that petition.</p>
      <p>This will help raise support for issue and help you better reach the minimum threshold of <strong>{{singleton.minimumThreshold}} signatures</strong> (as of {{ threshold_last_updated }}) for receiving an official Student Government response.</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="no-margin">
        Write your petition.
      </h3>
    </div>
    <div class="panel-body">
      <p>Use proper spelling and grammar when writing your petition. This will help other users find the petition more easily. Be sure to review our <a href="{{pathFor 'moderation'}}">Moderation Policy</a> before posting.</p>
      <div class="alert alert-warning no-margin">
        Be careful! You can't edit or delete a petition once it is submitted.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="no-margin">
        Share your petition.
      </h3>
    </div>
    <div class="panel-body">
      <p>Use social media to spread awareness of your issue.</p>
      <p>A petition has one month to reach its threshold. If the threshold is not reached, then the petition is archived and available via the search. Student Government may elect to respond to a petition prior to reaching its threshold.</p>
      <a href="{{pathFor 'postSubmit'}}" class="btn btn-lg btn-primary text-center no-margin full-width">Submit a petition.</a>
    </div>
  </div>

</template>
