<template name="petitionProcess">
  <div class="application-content container-fluid">
    <div class="row-fluid">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h1><strong>The Petition Process</strong></h1>
        <h2>Have an idea.</h2>
        <p>Search for petitions and if a petition similar to yours already exists, sign that petition.</p>
        <p>This will help raise support for issue and help you better reach the <strong>minimum threshold of 200 signatures</strong> for recieving an official Student Government response.</p>
        <h2>Write your petition.</h2>
        <p><strong>Use proper spelling and grammar</strong> when writing your petition.</p>
        <p>This will help other users find the petition more easily. Add relevant <strong>tags</strong> to your petition, as necessary.</p>
        <div class="alert alert-warning">
          Be careful! You can't edit or delete a petition once it is submitted.
        </div>
        <p>Check your name in your <a href="{{pathFor 'userEdit'}}">profile</a> to ensure it appears with proper capitalization <strong>prior</strong> to submission.</p>
        <h2>Share your petition.</h2>
        <p>Use social media to spread awareness of your issue.</p>
        <p>Our time-decay velocity algorithm will display the issue's growth over time based on the increasing number of signatures and shares.</p>
        <p>There are no time limits for reaching the minimum signature threshold. Student Government may elect to respond to a petition prior to reaching its threshold.</p>
        <a href="{{pathFor 'postSubmit'}}" class="btn btn-lg btn-primary text-center full-width">Ready? Let your voice be heard.</a>
      </div>
    </div>
  </div>
</template>
