@import "/packages/bootstrap3-less/bootstrap.import.less";
@import "_variables.less";

body {
  background: @main-background;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

input:not([type="checkbox"]):not([type="radio"]).inverse, textarea.inverse {
  background-color: @dark-gray;
  border: none;
  color: #fff;
  padding: 10px;
}

.application-content {  
  @media (max-width: @screen-sm-min) { 
    padding: 15px inherit;
  }
  @media (min-width: @screen-sm-min) {
    padding: 30px inherit;
  } 
}

.btn-secondary {
  .button-variant(@btn-primary-color; @brand-secondary; @brand-secondary);
}

.full-width {
  width: 100%;
}

.header-background {
  border-bottom: 1px solid #eee;
}

.modal-login {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 37%;
  right: 0;
  max-width: 300px;
}

.modal-title {
  line-height: 1;
}

.modal-dialog-fullscreen {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.modal-content-fullscreen {
  height: 100%;
  border-radius: 0;
  background-color: rgba(255,255,255,0.9);
  overflow: auto;
}
.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}