@import "overrides.less";

body {
  background: #eee;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.application-content {
  padding: 15px 0;
}

.navbar-default {
  .navbar-nav > li > .active {
    font-weight: bold;
  }
  background: transparent;
  border: none;
  margin-bottom: 10px;
  @media (min-width: @screen-sm-min) { 
    margin: 0;
  }
}

#header {
  #header-background {
    background-image: url("gradient.png") !important;
    background-repeat: no-repeat !important;
    background-size: 100% 1px !important;
    background-position: center bottom !important;
    margin-bottom: 0;
  }
}

.square {
  padding-bottom: 15px;
  padding-top: 15px;
}

.square-content {
  background: #fff;
  padding: 15px;
  @media (max-width: @screen-sm-min) {
    min-height: 100px;
  }
  @media (min-width: @screen-sm-min) { 
    height: 275px;
  }
  @media (min-width: @screen-md-min) { 
    height: 275px;
  }
  @media (min-width: @screen-lg-min) { 
    height: 250px;
  }
}

.social-icon {
  height: 40px;
  width: 40px;
}

.posts {
  margin: 15px 0;
}

.petition-sign {
  position: absolute;
  top: 30px;
  right: 30px;
}

.petition-sign-count {
  font-size: 20px;
}

.petition-title {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.footer {
  color: @light-gray;
  a {
    color: @light-gray;
    font-weight: 800;
    font-size: 16px;
  }
}

.footer-left, .footer-right {
  padding: 15px 0;
  @media (min-width: @screen-sm-min) { 
    min-height: 220px;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.footer-left {
  background: @dark-gray;
}

.footer-right {
  background: lighten(@dark-gray, 20%);
}

.title {
  font-size: 300%;
  line-height: 40px;
}

.count {
  font-size: 250%;
  font-weight: 900;
}

.author {
  font-size: 125%;
  font-weight: 900;
}

.footer-subtitle {
  font-weight: 900;
  text-transform: uppercase;
  color: #999999;
}

.carousel {
  background-image: url('bikeshare.jpg');
  background-position: center;
  color: #fff;
}

.carousel-title {
  font-size: 400%;
  font-weight: 900;
  color: #fff;
  background-color: @brand-primary;
  padding: 5px;
  line-height: 60px;
}

.carousel-description {
  margin: 40px 0;
  font-size: 200%;
}

.carousel-sign-up {
  margin: 30px 0;
  color: #000;
}