<template name="postsList">
  <div class="application-content container-fluid">
    {{> petitionGroup type="Recent Petitions" posts=posts noposts="Be the first to petition your government."}}
  </div>
</template>

<template name="postsWithResponsesList">
  <div class="application-content container-fluid">
    {{> petitionGroup type="Petitions with Responses" posts=posts noposts="No petitions have received responses."}}
  </div>
</template>


<template name="petitionGroup">
  <div class="petitions col-sm-10 col-sm-offset-1">
    <h2 class="text-center">{{type}}</h2>
    {{#each posts}}
      {{> postCard post=this }}
    {{/each}}
    {{#if empty posts}}
      <div class="panel">
        <p class="footer-subtitle text-center" style="margin: 50px 0;">
          <p>{{ noposts }}</p><a href="{{pathFor 'postSubmit'}}">Create a petition.</a>
        </p>
      </div>
    {{/if}}
  </div>
</template>