<template name="postSearch">
  <div class="modal fade"
       id="modal-search"
       tabindex="-1"
       role="dialog"
       aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-fullscreen">
      <div class="modal-content modal-content-fullscreen">
        <form class="main">
          <div class="modal-body" style="font-size: 16px;">
            <button type="button"
                    class="btn-lg close"
                    data-dismiss="modal">
              <span aria-hidden="true">
                <div>×</div>
              </span>
              <span class="sr-only">Close</span>
            </button>
            <p class="footer-subtitle text-center">
              Search Petitions by name, description, or author
            </p>
            
            <div class="input-group input-search">
              <span class="input-group-addon input-clear glyphicon glyphicon-search search-icon"></span>
              {{> esInput id="search" index="posts" class="form-control input-lg input-clear" placeholder="Search (3 character minimum)" }}
            </div>

            {{#if session 'waiting'}}
              {{> loading}}
            {{/if}}

            {{#each session 'results'}}
              {{> postCard post=this }}
            {{/each}}

            {{#if noResults}}
              <p class="footer-subtitle text-center" style="margin: 50px 0;">
                No Results. <a href="{{pathFor 'postSubmit'}}">Create a petition.</a>
              </p>
            {{/if}}
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
