<template name="postsList">
  <div class="application-content container-fluid">
    {{> petitionGroup posts=posts
                      postOrder=postOrder
                      title="Open/Expired Petitions"
                      tags=tags
                      noposts="Be the first to petition your government." }}
  </div>
</template>

<template name="postsTagList">
  <div class="application-content container-fluid">
    {{> petitionGroup posts=posts
                      postOrder=postOrder
                      tag=this.tag
                      tags=tags
                      noposts="There are no petitions with that tag." }}
  </div>
</template>

<template name="postsInProgressList">
  <div class="application-content container-fluid">
    {{> petitionGroup posts=posts
                      postOrder=postOrder
                      title="In Progress"
                      description="These petitions are currently being worked on by Student Government. Status updates may be available on the petition page."
                      tags=tags
                      noposts="No petitions are currently in progress." }}
  </div>
</template>

<template name="postsWithResponsesList">
  <div class="application-content container-fluid">
    {{> petitionGroup posts=posts
                      postOrder=postOrder
                      title="Responses"
                      description="These petitions have recieved official responses."
                      tags=tags
                      noposts="No petitions have received responses." }}
  </div>
</template>


<template name="petitionGroup">
  <div class="petitions col-sm-10 col-sm-offset-1">
    <div class="row">
      {{#unless pending}}
      <div class="col-md-3 col-sm-12">
        <div class="col-md-12">
          <span class="pull-left">Sort By</span>
          <select id="petition-order" class="form-control input-lg">
            <option {{selected postOrder "submitted"}} value="submitted">Most Recent</option>
            <option {{selected postOrder "votes"}} value="votes">Most Signatures</option>
          </select>

          <div class="tag-box hidden-xs hidden-sm" id="tag-select">
            <div class="list-group">
              <a id="all" class="list-group-item {{ isActiveTag 'all' }} tag-item" href="">All</a>
              {{#each this.tags}}
              <a id="{{this.name}}" class="list-group-item {{ isActiveTag this.name }} tag-item" href="">{{this.name}}</a>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      {{/unless}}
      <div class="col-md-9 col-sm-12">
        <div>
          <h2
              data-toggle="tooltip"
              data-placement="bottom"
              title="{{description}}">
            {{ tagTitle }}
            {{#if description}}
              <div class="glyphicon glyphicon-question-sign"
                    style="zoom: 65%; padding-left: 5px;"></div>
            {{/if}}
          </h2>
        </div>
        {{#each posts}}
          {{> postCard post=this }}
        {{/each}}
        {{#if empty posts}}
          <div class="panel">
            <p class="footer-subtitle text-center" style="margin: 50px 0;">
              <p>{{ noposts }}</p>{{#unless pending}}<a href="{{pathFor 'postSubmit'}}">Create a petition.</a>{{/unless}}
            </p>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
