<template name="postPage">
  <div class="container-fluid" style="background: white;">
    <div class="row row-eq-height">
      <div class="col-sm-6 col-sm-offset-2">
        <div class="module module-sm">
          <p class="petition-title-wrapper">
            <p><a class="title" href="{{pathFor 'postPage'}}">{{post.title}}</a></p>
            <div class="footer-subtitle">{{post.author}}</div>
          </p>
          <p class="petition-social-wrapper">
            <a href="#"><img class="social-icon" social="facebook" src="../facebook.svg"></a>
            <a href="#"><img class="social-icon" social="twitter" src="../twitter.svg"></a>
            <a href="#"><img class="social-icon" social="reddit" src="../reddit.svg"></a>
            <a href="#"><img class="social-icon" social="plus" src="../plus.svg"></a>
            <a href="#"><img class="social-icon" social="linkedin" src="../linkedin.svg"></a>
          </p>
        </div>
      </div>
      <div class="col-sm-2 row-eq-height">
        <div class="petition-svg"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid application-content post-title-graph">
    <div class="row-fluid">
      <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-2 module-container">
        <div class="module module-white">

          <div class="petition-subtitle">
            PETITION DESCRIPTION
          </div>
          <p><h4>{{{breaklines post.description}}}</h4></p>
          
          <a href="#postReportModal"
                class="dropdown-toggle petition-report"
                data-toggle="modal">
                Report this petition</a>

        </div>
      </div>
      <div class="col-sm-3 col-md-2">
        <div class="module module-white">

          <div class="petition-subtitle">SIGNATURES</div>
          <p><h3 class="count">{{post.votes}}</h3></p>

          <div class="petition-subtitle">TAKE ACTION</div>
          <div>{{> postSign }}</div>
          
        </div>
      </div>
    </div>
  </div>
  {{> postReport}}
</template>