<template name="postPage">
  <div class="application-content">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-sm-6 col-sm-offset-2">
          <p><a class="title" href="{{pathFor 'postPage'}}">{{post.title}}</a></p>
          <p><h4>{{{breaklines post.description}}}</h4></p>
          <p>
            <a href="#"><img class="social-icon" social="facebook" src="../facebook.svg"></a>
            <a href="#"><img class="social-icon" social="twitter" src="../twitter.svg"></a>
            <a href="#"><img class="social-icon" social="reddit" src="../reddit.svg"></a>
            <a href="#"><img class="social-icon" social="plus" src="../plus.svg"></a>
            <a href="#"><img class="social-icon" social="linkedin" src="../linkedin.svg"></a>
          </p>
          <p><a href="#postReportModal"
                class="dropdown-toggle"
                data-toggle="modal"
                style="color: #000;">
                Report this petition</a></p>
        </div>
        <div class="col-sm-2">
          <p><button class="btn btn-lg btn-primary">Sign Petition</button></p>
          <p>
            <div class="footer-subtitle">SIGNATURES</div>
            <h3 class="count">{{post.votes}}</h3>
          </p>
          <div class="footer-subtitle">AUTHOR</div>
          <h3 class="author">{{post.author}}</h3>
        </div>
      </div>
    </div>
  </div>
  {{> postReport}}
</template>

<template name="postReport">
  <div class="modal fade"
       id="postReportModal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="main">
          <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h2 class="modal-title">Why are you reporting this petition?</h2>
          </div>
          <div class="modal-body" style="font-size: 16px;">

            <div class="radio">
              <label>
                <input type="radio"
                       name="report-reason"
                       value="inappropriate">
                The petition contains inappropriate language.
              </label>
            </div>

            <div class="radio">
              <label>
                <input type="radio"
                       name="report-reason"
                       value="spam">
                The petition is spam.
              </label>
            </div>

            <p>All reports are subject to the <a href="#">Moderation Policy.</a></p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Report</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>