<template name="postEdit">
  <div class="application-content">
    <div class="container-fluid">
      <div class="row-fluid">
        <form class="main" id="petitionForm">
          <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
            <h2>
              <strong>Edit Petition</strong>
              <a class="btn btn-secondary pull-right"
                 href="{{pathFor 'postPage' _id=post._id}}">Back to Petition</a>
            </h2>
              <p class="lead">Petition "{{post.title}}" currently has {{pluralize post.votes "signature"}}.</p>

              <!-- Nav tabs -->
              <p>
                <ul class="nav nav-tabs" role="tablist">
                  <li class="active"><a href="#petition" role="tab" data-toggle="tab">Petition</a></li>
                  <li><a href="#updates" role="tab" data-toggle="tab">Updates</a></li>
                  <li><a href="#response" role="tab" data-toggle="tab">Response</a></li>
                </ul>
              </p>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="petition">
                  {{> petitionForm}}
                </div>
                <div class="tab-pane" id="updates">
                  {{> petitionUpdates}}
                </div>
                <div class="tab-pane" id="response">
                  {{> petitionResponse}}
                </div>
              </div>

              {{> petitionButtons}}
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<template name="petitionForm">
  <label class="control-label" for="title">Title</label>
  <input name="title"
         class="form-group form-control input-lg"
         maxlength="70"
         placeholder="My Petition's Name"
         type="text"
         value="{{ post.title }}">

  <label class="control-label" for="description">Tags</label>
  <input id="tags" style="width: 100%; margin-bottom: 10px;">

  <label class="control-label" for="description">Description</label>
  <textarea name="description"
            class="form-group form-control input-lg"
            maxlength="4000"
            placeholder="My Petition's Description"
            type="text"
            rows="15"
            value="{{ post.description }}"></textarea>
</template>

<template name="petitionUpdates">
  <div class="panel panel-default panel-body">
    <label class="control-label" for="updates">Status Updates</label>
    <p>Use status updates for information regarding in-progress activities, e.g., committees formed as a result of the petition, or reachout efforts to Administrators.</p>
    <p>If a new status update is created, an e-mail will be dispatched to petition signers who subscribe to status updates.</p>
  </div>

  {{#each updates}}
      {{> createUpdate update=this post=../post }}
  {{/each}}

  {{> createUpdate update=newUpdate post=post user=user }}
</template>

<template name="petitionResponse">
  <div class="panel panel-default panel-body">
    <label class="control-label" for="response">Response</label>
    <p>Use response for the <u>final</u> petition update, e.g., the final decision reached by Administration, the consensus reached by the committee formed for the petition, etc.</p>
    <p>When a response is initially posted, an e-mail is dispatched to petition signers who subscribe to updates.</p>
  </div>
  <textarea name="response"
            class="form-group form-control input-lg"
            maxlength="4000"
            placeholder="Petition Response"
            type="text"
            rows="15"
            value="{{ post.response }}"></textarea>
  
</template>

<template name="petitionButtons">
  <div class="btn-group btn-group-lg">
    <button type="submit"
            class="btn btn-primary"
            value="Submit">Save Petition</button>
    <button type="button"
            class="btn btn-secondary delete-petition"
            value="Submit">Delete Petition</button>
  </div>
</template>