<template name="postsList">
  <div class="application-content container-fluid">
    {{> petitionGroup posts=posts
                      postOrder=postOrder
                      title="All Petitions"
                      noposts="Be the first to petition your government." }}
  </div>
</template>

<template name="postsTagList">
  <div class="application-content container-fluid">
    {{> petitionGroup posts=posts
                      postOrder=postOrder
                      tag=this.tag
                      noposts="There are no petitions with that tag." }}
  </div>
</template>

<template name="postsInProgressList">
  <div class="application-content container-fluid">
    {{> petitionGroup posts=posts
                      postOrder=postOrder
                      title="In Progress"
                      description="These petitions are currently being worked on by Student Government. Status updates may be available on the petition page."
                      noposts="No petitions are currently in progress." }}
  </div>
</template>

<template name="postsWithResponsesList">
  <div class="application-content container-fluid">
    {{> petitionGroup posts=posts
                      postOrder=postOrder
                      title="Responses"
                      description="These petitions have recieved official responses."
                      noposts="No petitions have received responses." }}
  </div>
</template>


<template name="petitionGroup">
  <div class="petitions col-sm-10 col-sm-offset-1">
    {{#if empty posts}}
    {{else}}
      <div class="center-xs col-xs-12 col-sm-12 col-md-8 col-lg-9">
        <h2 style="display: inline-block; margin-bottom: 0;"
            data-toggle="tooltip"
            data-placement="bottom"
            title="{{description}}">
          {{#if this.tag}}
            {{this.tag}} Petitions
          {{else}}
            {{title}}
          {{/if}}
          {{#if description}}
            <div class="glyphicon glyphicon-question-sign"
                  style="zoom: 65%; padding-left: 5px;"></div>
          {{/if}}
        </h2>

      </div>
      {{#unless pending}}
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
        <span class="pull-left">Sort By</span>
        <select id="petition-order" class="form-control input-lg">
          <option {{selected postOrder "{{sortType this.title}}"}} value="{{sortType this.title}}">Most Recent</option>
          <option {{selected postOrder "votes"}} value="votes">Most Signatures</option>
        </select>
      </div>
      {{/unless}}
    {{/if}}
    {{#each posts}}
      {{> postCard post=this }}
    {{/each}}
    {{#if empty posts}}
      <div class="panel">
        <p class="footer-subtitle text-center" style="margin: 50px 0;">
          <p>{{ noposts }}</p>{{#unless pending}}<a href="{{pathFor 'postSubmit'}}">Create a petition.</a>{{/unless}}
        </p>
      </div>
    {{/if}}
  </div>
</template>
