<template name="postCard">
  <div class="square col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <div class="square-content">
      <div class="petition-sign-count">{{votes}} Signatures</div>
      {{#if currentUser}}
        <form>
          <input name="_id"
                 value="{{_id}}"
                 type="hidden">
          <input type="submit"
                 class="btn btn-primary petition-sign {{signedClass}}"
                 value="Sign">
        </form>
      {{else}}
        <a href="#loginModal"
           data-toggle="modal"
           class="btn btn-primary petition-sign">
           Sign
        </a>
      {{/if}}
      <h3 class="petition-title">
        <a href="{{pathFor 'postPage'}}">
          {{title}}
        </a>
      </h3>
      <p>{{author}}</p>
    </div>
  </div>
</template>
