<template name="admin">

  <div class="application-content container-fluid">
    <div class="row-fluid">
      <div class="col-sm-12 col-md-10 col-md-offset-1">

       <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#users" role="tab" data-toggle="tab">Users</a></li>
          <li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
          <li><a href="#tags" role="tab" data-toggle="tab">Petition tags</a></li>
          <li><a href="#interface" role="tab" data-toggle="tab">Interface</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          {{> users}}
          {{> settings}}
          {{> tags}}
          {{> interface}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="users">
  <div class="tab-pane active" id="users">
    {{#if publicSettings.ui.roles_locked}}
        <div class="alert alert-warning" role="alert">
            <strong>Heads up!</strong> Users are automatically added and removed from groups when they log into the site.  Change someone's LDAP groups if you want them to be an admin or a moderator.
        </div>
    {{/if}}
    <div class="col-sm-4">
      <h2>Admins</h2>
      <p>Administrators can manage user roles and petitions.</p>
      {{> userList users=admins role="admin" }}
    </div>
    <div class="col-sm-4">
      <h2>Moderators</h2>
      <p>Moderators can edit or respond to petitions.</p>
      {{> userList users=moderators role="moderator" }}
    </div>
    <div class="col-sm-4">
      <h2>Notifiers</h2>
      <p>Recieve an e-mail when petitions reaches their goal count.</p>
      {{> userList users=notifiers role="notify-threshold-reached" }}
    </div>
  </div>
</template>

<template name="settings">
  <div class="tab-pane setting-padding" id="settings">
    <h2>Settings</h2>
    <div class="setting-padding">
      <p>Minimum Signature Threshold: Changing the threshold only affects future petitions.</p>
      <form id="thresholdForm">
        <div class="input-group">
          <input name="minimumThreshold"
                 class="form-control"
                 value="{{singleton.minimumThreshold}}"
                 type="number"
                 step="1">
          <span class="input-group-btn">
            <button class="btn btn-primary"
                    type="submit"
                    style="border-radius: 0;">
                    Change
            </button>
          </span>
        </div>
      </form>
    </div>
    {{> moderationButton}}
  </div>
</template>

<template name="tags">
  <div class="tab-pane" id="tags">
    <h2>Petition Tags</h2>
    <p>Manage tags.</p>
    {{#each tags}}
      <form id="tagDelete">
        <div class="input-group">
          <input class="input form-control"
                 value="{{this.name}}"
                 disabled>
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit">&times;</button>
          </span>
        </div>
      </form>
    {{/each}}
    <form id="newPetitionTag">
      <div class="input-group">
        <input name="name"
               value=""
               type="text"
               placeholder="Tag name..."
               class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-primary"
                  type="submit">+
                  </button>
        </span>
      </div>
    </form>
  </div>
</template>

<template name="interface">
  <div class="tab-pane" id="interface">
    <h2>User Interface</h2>
    <p>Manage UI settings.</p>
        <form id="changeParallax" class="form-inline">
          <div class="form-group">
            <label >Parallax Carousel Images:</label>
            <input name="parallaxInput"
                   class="form-control"
                   value="{{parallaxStyle}}"
                   type="string"
                   step="1"
                   readonly>
              <button class="btn btn-primary"
                      type="submit"
                      style="border-radius: 0;">
                      Toggle
              </button>
          </div>
        </form>
        <form id="changePetitionHistoryDisplay" class="form-inline">
          <div class="form-group">
            <label >Petition History Display:</label>
            <input name="petitionHistoryDisplayInput"
                   class="form-control"
                   value="{{petitionHistoryDisplayStyle}}"
                   type="string"
                   step="1"
                   readonly>
              <button class="btn btn-primary"
                      type="submit"
                      style="border-radius: 0;">
                      Toggle
              </button>
          </div>
        </form>
        <form id="changeUpdateAuthorDisplay" class="form-inline">
          <div class="form-group">
            <label>Display Update Author:</label>
            <input name="updateAuthorDisplayInput"
                   class="form-control"
                   value="{{updateAuthorDisplayStyle}}"
                   type="string"
                   step="1"
                   readonly>
              <button class="btn btn-primary"
                      type="submit"
                      style="border-radius: 0;">
                      Toggle
              </button>
          </div>
        </form>
  </div>
</template>

<template name="userList">
  {{#each users}}
    {{#if publicSettings.ui.roles_locked}}
        <p>{{profile.name}} - {{username}}</p>
    {{else}}
        <form>
        <div class="input-group">
            <input name="action"
                value="remove"
                type="hidden">
            <input name="role"
                value="{{../role}}"
                type="hidden">
            <input name="username"
                value="{{profile.name}} - {{username}}"
                type="text"
                class="form-control"
                disabled>
                <span class="input-group-btn">
                <button class="btn btn-primary"
                        type="submit">&times;
                        </button>
                </span>
        </div>
        </form>
    {{/if}}
  {{/each}}
  {{#unless publicSettings.ui.roles_locked}}
    <form>
        <div class="input-group">
        <input name="action"
                value="add"
                type="hidden">
        <input name="role"
                value="{{role}}"
                type="hidden">
        <input name="username"
                value=""
                type="text"
                placeholder="abc1234"
                class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-primary"
                    type="submit">+
                    </button>
        </span>
        </div>
    </form>
  {{/unless}}
</template>
