<template name="moderatePage">
  <div class="container">
    {{> moderationButton}}
    <div class="application-content container-fluid">
      {{> petitionGroup petitions=petitions
                        petitionOrder=petitionOrder
                        title="Pending Approval"
                        description="These petitions are currently being evaluated for submission"
                        nopetitions="No petitions are currently pending."
                        pending=true
                      }}
    </div>
  </div>

</template>
