<template name="moderationButton">

  {{#if isInRole 'admin'}}
    <div class="setting-padding">
      <p>Moderation Enabled/Disabled: Changing the moderation only affects future petitions.</p>
      <form id="changeModeration">
        <div class="input-group">
          <input name="moderationInput"
                 class="form-control"
                 value="{{moderationStyle}}"
                 type="string"
                 step="1"
                 readonly>
          <span class="input-group-btn">
            <button class="btn btn-primary"
                    type="submit"
                    style="border-radius: 0;">
                    Toggle
            </button>
          </span>
        </div>
      </form>
    </div>
  {{/if}}
</template>
