<template name="petitionCard">
  <div class="square col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="square-content {{ petition.status }}">
      <h4 class="petition-sign-count">{{pluralize petition.votes "Signature"}}</h4>
      <h3 class="petition-title">
        {{#if isExpired this}}
          {{#if isResponded petition}}
            <a href="{{pathFor 'petitionPage' _id=petition._id }}">
              {{petition.title}}
            </a>
          {{else}}
            <a href="{{pathFor 'petitionPage' _id=petition._id }}"  style="color: #513127">
              {{petition.title}}
            </a>
          {{/if}}

        {{else}}
          <a href="{{pathFor 'petitionPage' _id=petition._id }}">
            {{petition.title}}
          </a>
        {{/if}}
      </h3>
      <p>
      {{#each petition.tag_ids}}
        {{#with tag this}}
            {{#if isExpired ../..}}
              {{#if isResponded ../../..}}
                <a id="card" href="" name="{{this.name}}" class="label label-primary card-tag">{{upcase this.name}}</a>
              {{else}}
                <a id="card" href="" name="{{this.name}}" class="label label-success card-tag">{{upcase this.name}}</a>
              {{/if}}
            {{else}}
              <a id="card" href="" name="{{this.name}}" class="label label-primary card-tag">{{upcase this.name}}</a>
            {{/if}}
        {{/with}}
      {{/each}}
      </p>

    </div>
  </div>
</template>
